body {
  margin: 0;
}

.button {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 5px;
  box-sizing: border-box;
}

.color-success {
  color: rgba(0, 128, 0, 0.45);
}


.color-default {
  color: gray;
}
